.nav {
    background-color: rgba(silver, 0.2);
}

.options {
    margin: 0;
    display: flex;
    flex-direction: row;
    height: 50px;

    &::before {
        content: "🔮";
        position: absolute;
        top: 15px;
        left: 10px;
    }
}

.option {
    margin-left: 2px;
    padding: 15px 20px;
    list-style: none;
    color: white;
    text-decoration: none;

    &:hover {
        background-color: rgba(silver, 0.2);
    }
}

.selected {
    background-color: rgba(silver, 0.2);
}
